* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.Container {
    display: flex;
    flex-direction: row;    
}
.Left {
    
}
.Left .navbar{
    background-color: black;
    color: #999;
    width: 120px;
    height: 100%;
}
.navbar li{
    border-bottom: 1px solid #5c5c5c;
    padding: 13px 10px;
    font-size: 14px;
    
}   
.navbar li:hover{
    background-color: #5c5c5c;
    color: #fff;
}

.Right {
    display: flex;
    flex-direction: column;
    margin: 20px 85px 0px 85px;
}
.Content{
    display: flex;
    flex-direction: column;
}
.logo {
    text-align: center;
    padding-bottom: 20px;
}
.logo h1{
    font-size: 4rem; 
}

.Content-1 {
    text-align: center;
    background: #EFEFEF;
    margin-bottom: 30px;
}

.Content-1 h3{
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 16px;
}
.Content-1 p{
    font-size: 14px;
    line-height: 18.75px;
    padding: 0 205px 30px 205px;
    
}

.Content-2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
}
img {
    width: 110px;
    height: 110px;
}
.Content-2-2{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 390px;
}
.Content-2-2 h3{
    margin-bottom: 15px;
}
.Content-2-2 p{
    font-size: 14px;
}
.Content-2-2-2 {
    display: flex;
    flex-direction: row;
}
.Content-2-2-2 p{
    font-size: 14px;
}   
.Footer {
    border-top: 1px solid #ededed;
    height: 78px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    * {
        width: 100%;

    }
    .Right {
        width: 80%;
        margin: 0;
        margin-right: 25px;
    }
    .logo h1{
        font-size: 3rem; 
    }
}
@media only screen and (max-width: 768px) {
    * {
        width: 100%;
        margin: 0;

    }
    
    .Right {
        width: 70%;
        margin: 0;
        margin-right: 25px;
    }
    .logo h1{
        font-size: 3rem; 
    }
    .Content-2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .Content-2-2{
        margin-right: 20px;
        width: 400px;
    }
}
